Repository OctoPrint/OctoPrint, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, meta, ci/cd, docker, tests

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - README.md

meta:
  - changed-files:
      - any-glob-to-any-file:
          - CODE_OF_CONDUCT.md
          - CONTRIBUTING.md
          - SECURITY.md
          - .github/CODEOWNERS
          - .github/FUNDING.yml
          - .github/ISSUE_TEMPLATE/**
          - .github/PULL_REQUEST_TEMPLATE.md

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/fixtures/**
          - .github/workflows/**
          - .github/dependabot.yml
          - .github/issue-validation.yml
          - .github/labeler.yml
          - .github/pr-validation.yml

docker:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/trigger_docker.yml

tests:
  - changed-files:
      - any-glob-to-any-file: tests/**

# new branching strategy

"targets dev":
  - base-branch: dev

"targets main":
  - base-branch: main

"targets bugfix":
  - base-branch: bugfix

"targets next":
  - base-branch: next

# old branching strategy

"targets maintenance":
  - base-branch: maintenance

"target devel":
  - base-branch: devel

"targets staging/bugfix":
  - base-branch: staging/bugfix

"targets staging/maintenance":
  - base-branch: staging/maintenance

"targets staging/devel":
  - base-branch: staging/devel

"targets master":
  - base-branch: master

chore: update links to docs
  src/octoprint/plugins/pluginmanager/__init__.py
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
  src/octoprint/plugins/virtual_printer/__init__.py
  src/octoprint/templates/dialogs/settings/gcodescripts.jinja2
  src/octoprint/translations/de/LC_MESSAGES/messages.po
  translations/de/LC_MESSAGES/messages.po
  translations/messages.pot
Labels: none

ci: fix permissions for nightly merge
  .github/workflows/nightly_merge.yml
Labels: ci/cd

Revert "ci: fix permissions for nightly merge"
  .github/workflows/nightly_merge.yml
Labels: ci/cd

chore: upgrade loglevel.js
  src/octoprint/static/js/lib/loglevel.min.js
Labels: none

chore: announce global API key removal in 1.13.0
  src/octoprint/plugins/health_check/__init__.py
  src/octoprint/plugins/health_check/checks/global_api_key.py
  src/octoprint/plugins/health_check/static/js/health_check.js
  src/octoprint/server/util/__init__.py
  src/octoprint/templates/dialogs/settings/api.jinja2
Labels: none

docs: fix link to latest docs
  docs/_templates/base.html
Labels: docs

dx: add docs related tasks to taskfile
  Taskfile.yml
Labels: none

docs: move some things from README to docs
  README.md
  docs/gettingstarted.md
  docs/index.md
Labels: docs

fix(upmgr): use right name for filesViewModel
  src/octoprint/plugins/uploadmanager/static/js/uploadmanager.js
Labels: none

chore: update translation
  src/octoprint/translations/de/LC_MESSAGES/messages.mo
  src/octoprint/translations/de/LC_MESSAGES/messages.po
  translations/de/LC_MESSAGES/messages.mo
  translations/de/LC_MESSAGES/messages.po
  translations/messages.pot
Labels: none

chore: update SUPPORTERS.md
  SUPPORTERS.md
Labels: none

chore(errortracking): update DSNs
  src/octoprint/plugins/errortracking/__init__.py
Labels: none

fix(healthcheck): disable global_api_key check
  src/octoprint/plugins/health_check/__init__.py
Labels: none

fix: pin psutil to 6.0.0
  setup.py
Labels: none

release: bugfix is now 1.11.4.dev
  src/octoprint/_version.py
Labels: none

chore: pin psutil less aggressively again
  setup.py
Labels: none

chore: bump psutil to 7+
  pyproject.toml
Labels: none

chore: bump tornado to 6.5+
  pyproject.toml
Labels: none

chore: bump tornado to 6.5.x under Python 3.9+
  setup.py
Labels: none

fix: fix python_version syntax for tornado pin
  setup.py
Labels: none

chore: pin tornado to 6.5.1 under python 3.11
  setup.py
Labels: none

chore: remove tornado pin again
  setup.py
Labels: none

feat(cli client): require api key
  src/octoprint/cli/client.py
Labels: none

feat: remove autogeneration of global api key
  src/octoprint/settings/__init__.py
Labels: none

feat(healthcheck): re-enable global_api_key check
  src/octoprint/plugins/health_check/__init__.py
Labels: none

chore: rename release channels & remove rc/devel
  src/octoprint/plugins/softwareupdate/__init__.py
Labels: none

fix(ccmgr): ignore controls not defined in config
  src/octoprint/plugins/customcontrolmanager/static/js/customcontrolmanager.js
  src/octoprint/printer/standard.py
Labels: none
