Repository OctoPrint/OctoPrint, pull requests merged in 2018-04, with the labels that each got.

#2540 Add missing documentation for GCODE analysis and other small fixes
  docs/api/datamodel.rst
Labels: pr:needs some work

#2533 Fix buttons not disabled when there isn't an API key available
  src/octoprint/templates/dialogs/settings/api.jinja2
  src/octoprint/templates/dialogs/usersettings/access.jinja2
Labels: pr:open question

#2568 Fix dead link on hooks documentation
  docs/plugins/hooks.rst
Labels: pr:needs some work

#2591 Fix markup for some HTML labels
  src/octoprint/plugins/cura/templates/snippets/settings/cura/enginePath.jinja2
  src/octoprint/templates/dialogs/settings/api.jinja2
  src/octoprint/templates/dialogs/settings/appearance.jinja2
  src/octoprint/templates/dialogs/settings/folders.jinja2
  src/octoprint/templates/dialogs/settings/gcodevisualizer.jinja2
  src/octoprint/templates/dialogs/settings/serialconnection.jinja2
  src/octoprint/templates/dialogs/settings/temperatures.jinja2
  src/octoprint/templates/overlays/offline.jinja2
  src/octoprint/templates/overlays/reloadui.jinja2
  src/octoprint/templates/snippets/settings/server/serverOnlineCheckPort.jinja2
  src/octoprint/templates/snippets/settings/server/serverPluginBlacklistTtl.jinja2
  src/octoprint/templates/snippets/settings/webcam/ffmpegThreads.jinja2
  src/octoprint/templates/snippets/settings/webcam/webcamStreamRatio.jinja2
Labels: pr:needs review

#2604 Reload older values after cancelling the Settings dialog
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/templates/dialogs/settings.jinja2
Labels: pr:needs review
