Repository OctoPrint/OctoPrint, pull requests merged in 2020-12, with the labels that each got.

#3838 Fix my stupid copy paste mistake in virtual M145
  src/octoprint/plugins/virtual_printer/virtual.py
Labels: needs review

#3839 implement CODEOWNERS support
  .github/CODEOWNERS
Labels: needs review

#3837 update Trigger docker build workflow
  .github/workflows/trigger_docker.yml
Labels: needs review

#3836 Improve Software Update UI/UX
  src/octoprint/plugins/softwareupdate/static/css/softwareupdate.css
  src/octoprint/plugins/softwareupdate/static/less/softwareupdate.less
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
Labels: needs review

#3835 Improvements to plugin manager UX/UI
  src/octoprint/plugins/pluginmanager/static/css/pluginmanager.css
  src/octoprint/plugins/pluginmanager/static/less/pluginmanager.less
  src/octoprint/plugins/pluginmanager/templates/pluginmanager_settings.jinja2
Labels: needs review

#3861 Fix /api/job example response
  docs/api/job.rst
Labels: docs

#3878 Validate websocket JSON before sending
  src/octoprint/printer/standard.py
  src/octoprint/server/util/sockjs.py
  src/octoprint/util/json/__init__.py
Labels: needs some work
