Repository OctoPrint/OctoPrint, pull requests merged in 2021-09, with the labels that each got.

#4217 :bug: Remove CSS `width: auto` on announcements dialog, breaks things
  src/octoprint/plugins/announcements/static/js/announcements.js
Labels: approved

#4205 :pencil2: Add missing tool change scripts documentation
  docs/features/gcode_scripts.rst
Labels: docs, improvement

#4221 Replace multiple globs with single regex
  src/octoprint/util/comm.py
Labels: approved

#4223 Add static files to .ignore
  .ignore
Labels: approved

#4222 Use C YAML loader when possible
  src/octoprint/__init__.py
  src/octoprint/access/groups.py
  src/octoprint/access/users.py
  src/octoprint/cli/analysis.py
  src/octoprint/cli/client.py
  src/octoprint/cli/config.py
  src/octoprint/environment.py
  src/octoprint/filemanager/__init__.py
  src/octoprint/filemanager/analysis.py
  src/octoprint/filemanager/storage.py
  src/octoprint/plugins/appkeys/__init__.py
  src/octoprint/plugins/backup/__init__.py
  src/octoprint/plugins/logging/__init__.py
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/printer/profile.py
  src/octoprint/server/api/languages.py
  src/octoprint/server/util/flask.py
  src/octoprint/settings.py
  src/octoprint/util/yaml.py
  tests/filemanager/test_filemanager.py
Labels: approved

#4234 Move away from `ubuntu-16.04` in GH actions
  .github/workflows/build.yml
Labels: approved, ci/cd

#4235 Send Server-Timing header
  src/octoprint/server/__init__.py
Labels: needs some work, approved, targets maintenance

#4240 Fixed bug in the _.map usage in terminal
  src/octoprint/static/js/app/viewmodels/terminal.js
Labels: bug, approved, targets maintenance
