Repository OctoPrint/OctoPrint, pull requests merged in 2021-05, with the labels that each got.

#4122 🐛 Remove random debug span
  src/octoprint/templates/sidebar/files.jinja2
Labels: approved

#4124 ✨ Add option to disable cache busting on webcam URL
  src/octoprint/server/api/settings.py
  src/octoprint/settings.py
  src/octoprint/static/js/app/viewmodels/control.js
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/templates/dialogs/settings/webcam.jinja2
  src/octoprint/templates/snippets/settings/webcam/webcamCacheBuster.jinja2
  src/octoprint/templates/snippets/settings/webcam/webcamStreamUrl.jinja2
Labels: approved

#4103 💄 Improve all dialog animations
  src/octoprint/plugins/announcements/templates/announcements.jinja2
  src/octoprint/plugins/appkeys/templates/appkeys.jinja2
  src/octoprint/plugins/pluginmanager/templates/pluginmanager_settings.jinja2
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
  src/octoprint/static/css/octoprint.css
  src/octoprint/static/js/app/helpers.js
  src/octoprint/static/js/app/viewmodels/about.js
  src/octoprint/static/js/app/viewmodels/access.js
  src/octoprint/static/js/app/viewmodels/printerprofiles.js
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/static/js/app/viewmodels/wizard.js
  src/octoprint/static/less/octoprint.less
  src/octoprint/templates/dialogs/about.jinja2
  src/octoprint/templates/dialogs/files.jinja2
  src/octoprint/templates/dialogs/settings.jinja2
  src/octoprint/templates/dialogs/settings/appearance.jinja2
  src/octoprint/templates/dialogs/slicing.jinja2
  src/octoprint/templates/dialogs/temperature.jinja2
  src/octoprint/templates/dialogs/timelapse.jinja2
  src/octoprint/templates/dialogs/usersettings.jinja2
  src/octoprint/templates/dialogs/wizard.jinja2
  src/octoprint/templates/recovery.jinja2
  src/octoprint/templates/snippets/settings/accesscontrol/groups.jinja2
  src/octoprint/templates/snippets/settings/accesscontrol/users.jinja2
  src/octoprint/templates/snippets/settings/printerprofiles/profileEditor.jinja2
Labels: approved

#4125 Fix typo in docs for octoprint.server.api.before_request
  docs/plugins/hooks.rst
Labels: approved, docs

#4129 💄 Remove smaller button in software update
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
Labels: approved

#4132 ⚡ Don't re-render the plugin repository if notmodified
  src/octoprint/plugins/pluginmanager/static/js/pluginmanager.js
Labels: approved

#4128 Improve/ignored commands
  AUTHORS.md
  docs/configuration/config_yaml.rst
  src/octoprint/server/api/settings.py
  src/octoprint/settings.py
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/templates/dialogs/settings/serialconnection.jinja2
  src/octoprint/util/comm.py
Labels: approved, docs, needs review

#4137 Update messages.po
  src/octoprint/translations/de/LC_MESSAGES/messages.po
Labels: approved

#4136 🐛 Fix SameSite=None cookie
  docs/configuration/config_yaml.rst
  src/octoprint/server/util/flask.py
  tests/server/util/test_flask.py
Labels: approved, docs, tests

#4135 bedZ should be a float
  src/octoprint/server/api/settings.py
Labels: approved
