Repository OctoPrint/OctoPrint, pull requests merged in 2021-07, with the labels that each got.

#4181 🐛 Fix files with no dimensions breaking the files UI
  src/octoprint/static/js/app/viewmodels/files.js
Labels: approved

#4185 dev/commRefactoringNG - Virtual Printer Enhancements
  src/octoprint/plugins/virtual_printer/__init__.py
Labels: needs some work, skip validation

#4192 ✏️ Additional file information properties documented
  docs/api/datamodel.rst
Labels: approved, docs

#4191 ✏️ Add link to data model for printer profiles for gcode scripts
  docs/features/gcode_scripts.rst
Labels: approved, docs
