Repository OctoPrint/OctoPrint, pull requests merged in 2021-04, with the labels that each got.

#4071 💄 Better fix for styling of the pluginmanager
  src/octoprint/plugins/pluginmanager/static/css/pluginmanager.css
  src/octoprint/plugins/pluginmanager/static/less/pluginmanager.less
Labels: approved, frontend

#4075 🐛 Fix the centering of icons in the control tab buttons
  src/octoprint/static/css/octoprint.css
  src/octoprint/static/less/octoprint.less
Labels: approved, frontend

#4081 🔧 Adapt issue forms to breaking change
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: approved, meta

#4089 remove duplicated word
  src/octoprint/plugin/types.py
Labels: needs some work

#4088 Improved error handling and missing check for disable webcam
  src/octoprint/static/js/app/viewmodels/control.js
Labels: approved

#4098 Use G0 for jogging.
  AUTHORS.md
  src/octoprint/printer/standard.py
Labels: approved

#4112 👷 Roll back to issue template (temporarily)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/issue_automation.yml
Labels: approved, ci/cd, meta

#4105 Removed the ResizeSensor to prevent constant resizing events.
  THIRDPARTYLICENSES.md
  src/octoprint/plugins/gcodeviewer/templates/gcodeviewer_tab.jinja2
  src/octoprint/server/__init__.py
  src/octoprint/server/util/flask.py
  src/octoprint/static/js/app/bindings/copywidth.js
  src/octoprint/static/js/app/viewmodels/files.js
  src/octoprint/static/js/lib/ResizeSensor.js
  src/octoprint/static/less/octoprint.less
  src/octoprint/templates/sidebar/files.jinja2
  src/octoprint/templates/sidebar/state.jinja2
  src/octoprint/templates/tabs/timelapse.jinja2
Labels: approved

#4111 /api/files: add unselect file command
  AUTHORS.md
  docs/api/files.rst
  src/octoprint/server/api/files.py
Labels: approved, docs

#4114 File/Folder renaming in OctoPrint web UI
  AUTHORS.md
  src/octoprint/server/api/files.py
  src/octoprint/static/js/app/viewmodels/files.js
  src/octoprint/templates/dialogs/files.jinja2
Labels: approved

#4116 ✏️ Marlin 2 uses G90 influences extruder
  src/octoprint/templates/dialogs/settings/features.jinja2
Labels: approved
