Repository OctoPrint/OctoPrint, pull requests merged in 2021-03, with the labels that each got.

#4034 catch exception when M117 with no arguments is sent using virtual printer
  src/octoprint/plugins/virtual_printer/virtual.py
Labels: approved

#4031 Changes the default sorting of the "Install new Plugins..." modal
  AUTHORS.md
  src/octoprint/plugins/pluginmanager/static/js/pluginmanager.js
Labels: approved

#4039 Contributing - Correct GH Issue form links
  CONTRIBUTING.md
Labels: approved, meta

#4048 Show meaningful message when software update is blocked
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/plugins/softwareupdate/static/js/softwareupdate.js
Labels: approved

#4046 [maintenance] Fix logging download
  src/octoprint/server/__init__.py
Labels: approved

#4050 Terminal Filters - Updated temperature regex
  AUTHORS.md
  docs/configuration/config_yaml.rst
  docs/development/environment.rst
  src/octoprint/settings.py
  src/octoprint/static/js/app/viewmodels/settings.js
Labels: approved, docs

#4043 Import ABC from collections.abc for Python 3.10 compatibility.
  AUTHORS.md
  src/octoprint/util/__init__.py
Labels: approved

#4049 Consistency in the settings headings
  src/octoprint/plugins/appkeys/templates/appkeys_settings.jinja2
  src/octoprint/plugins/gcodeviewer/templates/gcodeviewer_settings.jinja2
  src/octoprint/templates/dialogs/settings/accesscontrol.jinja2
  src/octoprint/templates/dialogs/settings/api.jinja2
  src/octoprint/templates/dialogs/settings/appearance.jinja2
  src/octoprint/templates/dialogs/settings/features.jinja2
  src/octoprint/templates/dialogs/settings/gcodescripts.jinja2
  src/octoprint/templates/dialogs/settings/server.jinja2
  src/octoprint/templates/dialogs/settings/terminalfilters.jinja2
Labels: approved
