Repository OctoPrint/OctoPrint, pull requests merged in 2021-11, with the labels that each got.

#4296 🐛 Fix issue with processing plugin blacklist version strings on
  src/octoprint/plugin/core.py
Labels: approved, targets maintenance

#4290 :globe_with_meridians: change "Restart" to "Neustart"
  src/octoprint/translations/de/LC_MESSAGES/messages.mo
  src/octoprint/translations/de/LC_MESSAGES/messages.po
  translations/de/LC_MESSAGES/messages.mo
  translations/de/LC_MESSAGES/messages.po
Labels: approved, targets maintenance

#4288 :pencil: use slash in git bash
  docs/development/environment.rst
Labels: docs, approved, targets maintenance

#4287 Highlight some of the grid lines
  AUTHORS.md
  src/octoprint/plugins/gcodeviewer/static/js/viewer/renderer.js
Labels: approved, targets maintenance, hacktoberfest-accepted

#4280 Websocket: Allow client to selectively subscribe to messages
  AUTHORS.md
  docs/api/push.rst
  src/octoprint/server/util/sockjs.py
Labels: approved, targets maintenance

#4244 Revert change to immutabledict
  setup.py
  src/octoprint/printer/standard.py
  src/octoprint/util/__init__.py
  src/octoprint/util/json/__init__.py
  tests/util/test_misc.py
Labels: needs some work, approved

#4291 improvement/issue3868
  src/octoprint/server/api/settings.py
  src/octoprint/settings.py
  src/octoprint/static/js/app/viewmodels/files.js
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/templates/dialogs/settings/features.jinja2
Labels: approved, targets maintenance, hacktoberfest-accepted

#4313 Provide a content-length for streaming zip downloads
  AUTHORS.md
  THIRDPARTYLICENSES.md
  setup.py
  src/octoprint/cli/systeminfo.py
  src/octoprint/server/util/tornado.py
Labels: approved, targets devel

#4319 Add ipv6 loopback address to example
  docs/features/accesscontrol.rst
Labels: docs, approved, targets master

#4321 :bug: Fix offline indicator icon
  src/octoprint/templates/navbar/offlineindicator.jinja2
Labels: approved, targets maintenance

#4320 Improve links: change to https
  CONTRIBUTING.md
  README.md
  docs/index.rst
  src/octoprint/plugins/discovery/__init__.py
  src/octoprint/plugins/pluginmanager/__init__.py
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
  src/octoprint/templates/dialogs/about/about.jinja2
  src/octoprint/translations/de/LC_MESSAGES/messages.po
  translations/de/LC_MESSAGES/messages.po
  translations/messages.pot
Labels: docs, approved, meta, targets devel

#4322 Enable Deflate for web socket connections
  src/octoprint/server/__init__.py
  src/octoprint/server/util/tornado.py
Labels: approved, targets maintenance

#4324 ✨ virtual: Add printer lock feature
  src/octoprint/plugins/virtual_printer/__init__.py
  src/octoprint/plugins/virtual_printer/virtual.py
Labels: approved, targets maintenance
