Repository OctoPrint/OctoPrint, pull requests merged in 2021-01, with the labels that each got.

#3888 Fix rendering of UI plugin
  src/octoprint/server/views.py
Labels: regression

#3897 better access control documentation that includes autologin
  docs/features/accesscontrol.rst
Labels: docs, needs review

#3913 Fix default regexp for new terminal filters
  src/octoprint/static/js/app/viewmodels/settings.js
Labels: regression

#3912 Fix plugin install errors not being reported to the frontend
  src/octoprint/plugins/pluginmanager/__init__.py
Labels: plugin manager, regression

#3919 Change service type to exec...
  scripts/octoprint.service
Labels: needs some work

#3929 ✏️ Typo in action_command_notification
  AUTHORS.md
  docs/bundledplugins/action_command_notification.rst
Labels: docs

#3923 Plugin version management infos added
  docs/plugins/distributing.rst
Labels: approved, docs, needs review

#3903 Send events for gcode scripts
  AUTHORS.md
  docs/events/index.rst
  docs/features/gcode_scripts.rst
  src/octoprint/printer/standard.py
  tests/printer/test_script.py
Labels: approved, docs, tests

#3978 🦕 Remove the redundant Python2 float conversion relics
  AUTHORS.md
  src/octoprint/filemanager/storage.py
  src/octoprint/plugins/virtual_printer/virtual.py
  src/octoprint/printer/profile.py
  src/octoprint/printer/standard.py
  src/octoprint/server/util/tornado.py
  src/octoprint/timelapse.py
  src/octoprint/util/__init__.py
  src/octoprint/util/comm.py
  src/octoprint/util/gcodeInterpreter.py
  src/octoprint/vendor/sockjs/tornado/periodic.py
  src/octoprint/vendor/sockjs/tornado/stats.py
  src/octoprint/vendor/zeroconf.py
  tests/timelapse/test_timelapse_helpers.py
Labels: approved, tests

#3980 🦕 Remove the redundant Python2 float conversion relics from the `devel` branch
  src/octoprint/filemanager/storage.py
  src/octoprint/plugins/virtual_printer/virtual.py
  src/octoprint/printer/estimation.py
  src/octoprint/printer/profile.py
  src/octoprint/printer/standard.py
  src/octoprint/server/util/tornado.py
  src/octoprint/timelapse.py
  src/octoprint/util/__init__.py
  src/octoprint/util/comm.py
  src/octoprint/util/gcodeInterpreter.py
  src/octoprint/vendor/sockjs/tornado/periodic.py
  src/octoprint/vendor/sockjs/tornado/stats.py
  tests/settings/test_settings.py
  tests/timelapse/test_timelapse_helpers.py
Labels: approved, tests

#3981 🚀 Modernize the code to Python 3.6+
  docs/sphinxext/codeblockext.py
  src/octoprint/_version.py
  src/octoprint/access/permissions.py
  src/octoprint/cli/dev.py
  src/octoprint/daemon.py
  src/octoprint/filemanager/storage.py
  src/octoprint/plugin/core.py
  src/octoprint/plugins/appkeys/__init__.py
  src/octoprint/plugins/backup/__init__.py
  src/octoprint/plugins/corewizard/__init__.py
  src/octoprint/plugins/logging/__init__.py
  src/octoprint/plugins/pluginmanager/exceptions.py
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/plugins/softwareupdate/exceptions.py
  src/octoprint/plugins/softwareupdate/scripts/update-octoprint.py
  src/octoprint/plugins/softwareupdate/version_checks/__init__.py
  src/octoprint/plugins/softwareupdate/version_checks/git_commit.py
  src/octoprint/plugins/softwareupdate/version_checks/github_release.py
  src/octoprint/plugins/virtual_printer/virtual.py
  src/octoprint/server/__init__.py
  src/octoprint/server/api/settings.py
  src/octoprint/server/api/system.py
  src/octoprint/server/util/flask.py
  src/octoprint/server/util/tornado.py
  src/octoprint/settings.py
  src/octoprint/slicing/__init__.py
  src/octoprint/util/__init__.py
  src/octoprint/util/comm.py
  src/octoprint_client/__init__.py
  src/octoprint_setuptools/__init__.py
  tests/filemanager/test_localstorage.py
  tests/manual_tests/always_update.py
  tests/plugin/test_core.py
  tests/settings/test_settings.py
  tests/slicing/test_slicingmanager.py
  tests/timelapse/test_timelapse_helpers.py
  tests/util/test_comm_helpers.py
  tests/util/test_repeated_timer.py
  tests/util/test_string_helpers.py
Labels: approved, docs, tests

#3966 Add IDs and classes to terminal panels and buttons
  AUTHORS.md
  src/octoprint/templates/tabs/terminal.jinja2
Labels: approved
