Repository OctoPrint/OctoPrint, pull requests merged in 2021-02, with the labels that each got.

#3995 Doc: additional information for building the docs
  docs/development/environment.rst
Labels: approved, docs

#4004 Enhance jsclient-socket documentation
  docs/jsclientlib/socket.rst
Labels: approved, docs

#4005 sockJS include when playing with jsclient lib
  docs/jsclientlib/index.rst
Labels: approved, docs

#3997 Fixed invalid html for video
  src/octoprint/templates/tabs/control.jinja2
Labels: approved

#4014 A small css bug that causes a lot of havoc in the styles when trying …
  src/octoprint/static/less/octoprint.less
Labels: approved

#4015 Center Viewport on gcode viewer is cased wrong
  src/octoprint/plugins/gcodeviewer/static/js/gcodeviewer.js
Labels: approved

#4018 Update bug issue form to new v2 format
  .github/ISSUE_TEMPLATE/bug_report_v2.yml
Labels: approved, meta

#4026 Fix: Intermittent failing test case
  tests/settings/test_settings.py
Labels: approved, tests

#4017 Gcode viewer hide prime
  docs/bundledplugins/gcodeviewer.rst
  src/octoprint/plugins/gcodeviewer/__init__.py
  src/octoprint/plugins/gcodeviewer/static/js/gcodeviewer.js
  src/octoprint/plugins/gcodeviewer/templates/gcodeviewer_settings.jinja2
Labels: approved, docs
