Repository OctoPrint/OctoPrint, pull requests merged in 2022-05, with the labels that each got.

#4490 🐛 Remove use of HTML entity degree symbol in temperature title attribute
  AUTHORS.md
  src/octoprint/static/js/app/helpers.js
  src/octoprint/templates/tabs/temperature.jinja2
  tests/static/js/test-helpers.html
  tests/static/js/test-helpers.js
Labels: approved, tests, targets maintenance

#4483 Don't block unused keys when keyboard control is active
  src/octoprint/static/js/app/viewmodels/control.js
Labels: approved, targets maintenance

#4510 Update black to 22.3.0
  .pre-commit-config.yaml
Labels: approved, targets maintenance

#4512 Use lazy logging in octoprint. module
  src/octoprint/__init__.py
Labels: approved, targets maintenance

#4530 ⬆️ Bump wrapt to fix Python 3.11 compatibility
  setup.py
Labels: approved, targets maintenance

#4534 Add JS QUnit tests to build workflow with `node-qunit-puppeteer`
  .github/workflows/build.yml
Labels: approved, ci/cd, targets maintenance

#4529 Add a few unit tests for `helpers.js`
  src/octoprint/static/js/app/helpers.js
  tests/static/js/test-helpers.js
Labels: needs information, approved, tests, targets maintenance

#4533 Fix misc. typos
  docs/api/timelapse.rst
  docs/api/util.rst
  docs/features/accesscontrol.rst
  docs/plugins/hooks.rst
  docs/plugins/python3_migration.rst
  src/octoprint/plugins/pluginmanager/__init__.py
  src/octoprint/static/js/app/viewmodels/control.js
  src/octoprint/static/js/recovery/recovery.js
  src/octoprint/static/less/bootstrap/reset.less
  src/octoprint/util/json/serializing.py
  src/octoprint/util/pip.py
  tests/filemanager/test_localstorage.py
Labels: docs, approved, tests, targets maintenance
