Repository OctoPrint/OctoPrint, pull requests merged in 2022-02, with the labels that each got.

#4378 HLS & WebRTC webcam rotation and mirroring
  src/octoprint/static/css/octoprint.css
  src/octoprint/static/js/app/viewmodels/control.js
  src/octoprint/static/less/octoprint.less
  src/octoprint/templates/tabs/control.jinja2
Labels: approved, targets maintenance

#4384 Added Try/Except test to prevent I/O errors…
  src/octoprint/util/comm.py
Labels: targets maintenance

#4389 Addresses issue #4362
  src/octoprint/util/version.py
  tests/util/test_version.py
Labels: approved, targets maintenance

#4387 Remove spell check in plugin search
  src/octoprint/plugins/pluginmanager/templates/pluginmanager_settings.jinja2
  src/octoprint/templates/sidebar/files.jinja2
Labels: approved, targets maintenance

#4388 Custom temps improvements
  src/octoprint/printer/standard.py
  src/octoprint/util/comm.py
Labels: approved, targets maintenance

#4390 Add support for latin_1 encoding
  AUTHORS.md
  docs/configuration/config_yaml.rst
  src/octoprint/server/api/settings.py
  src/octoprint/settings.py
  src/octoprint/util/comm.py
Labels: needs some work, docs, approved, targets maintenance

#4399 ♻ Provide a content-length for streaming zip downloads
  AUTHORS.md
  THIRDPARTYLICENSES.md
  setup.py
  src/octoprint/cli/systeminfo.py
  src/octoprint/server/util/tornado.py
Labels: approved, targets maintenance

#4400 LOW: Documentation, use const ADMIN_GROUP (2nd attempt)
  docs/plugins/hooks.rst
Labels: docs, approved, targets master

#4358 Adding shutdown action command.
  AUTHORS.md
  docs/configuration/config_yaml.rst
  docs/features/action_commands.rst
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/server/__init__.py
  src/octoprint/server/api/settings.py
  src/octoprint/server/api/system.py
  src/octoprint/settings.py
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/systemcommands/__init__.py
  src/octoprint/templates/dialogs/settings/serialconnection.jinja2
  src/octoprint/util/comm.py
  src/octoprint/util/commandline.py
Labels: needs some work, approved, targets maintenance

#4403 🔨 Add `octoprint dev css:build` command
  src/octoprint/cli/dev.py
Labels: needs some work

#4408 adds a setting for sd cancel command
  src/octoprint/server/api/settings.py
  src/octoprint/settings.py
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/templates/dialogs/settings/serialconnection.jinja2
  src/octoprint/util/comm.py
Labels: approved, targets maintenance

#4405 Added File- and Folder-Move Event
  docs/events/index.rst
  src/octoprint/events.py
  src/octoprint/filemanager/__init__.py
Labels: docs, approved, targets maintenance

#4385 mistransaltion
  src/octoprint/translations/de/LC_MESSAGES/messages.po
Labels: needs some work

#4366 fix for timelapse percent sign issue
  src/octoprint/timelapse.py
Labels: approved, targets maintenance

#4416 move defaultExtrusionLength from settings into printer profile
  docs/api/printerprofiles.rst
  docs/api/settings.rst
  src/octoprint/printer/profile.py
  src/octoprint/server/api/settings.py
  src/octoprint/settings.py
  src/octoprint/static/js/app/viewmodels/control.js
  src/octoprint/static/js/app/viewmodels/printerprofiles.js
  src/octoprint/templates/snippets/settings/printerprofiles/profileEditorExtruder.jinja2
Labels: docs, approved, targets maintenance

#4433 ⚡ Don't load FontAwesome twice
  src/octoprint/templates/stylesheets-preload.jinja2
Labels: approved, targets maintenance

#4432 ⚡ Reduce gcode viewer memory usage when loading file
  src/octoprint/plugins/gcodeviewer/static/js/viewer/reader.js
Labels: approved, targets maintenance

#4429 :bug: SWU used wrong "ignore_throttled" setting
  src/octoprint/plugins/softwareupdate/static/js/softwareupdate.js
Labels: approved, targets maintenance

#4339 Use pickle for announcements cache
  src/octoprint/plugins/announcements/__init__.py
  src/octoprint/printer/standard.py
  src/octoprint/server/util/sockjs.py
  src/octoprint/util/__init__.py
  src/octoprint/util/json/__init__.py
  src/octoprint/util/json/encoding.py
  src/octoprint/util/json/serializing.py
  tests/plugins/test_announcements.py
  tests/util/test_json.py
Labels: needs some work, approved, targets maintenance

#4427 Fixing a short WS connect timeout in SockJs
  src/octoprint/static/js/app/client/socket.js
Labels: approved, targets maintenance

#4186 Add support for changing hook order
  docs/configuration/config_yaml.rst
  src/octoprint/__init__.py
  src/octoprint/plugin/__init__.py
  src/octoprint/plugin/core.py
  src/octoprint/settings.py
Labels: needs some work, approved, targets maintenance

#4364 adds an update queue to allow starting updates while printing, #3320,…
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/plugins/softwareupdate/static/clientjs/softwareupdate.js
  src/octoprint/plugins/softwareupdate/static/css/softwareupdate.css
  src/octoprint/plugins/softwareupdate/static/js/softwareupdate.js
  src/octoprint/plugins/softwareupdate/static/less/softwareupdate.less
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
  src/octoprint/printer/standard.py
  src/octoprint/server/api/printer.py
Labels: needs some work, approved, targets maintenance

#4437 Support two-digit flavors for G00 G01 G02 G03
  src/octoprint/plugins/gcodeviewer/static/js/viewer/worker.js
  src/octoprint/util/gcodeInterpreter.py
Labels: approved, targets maintenance

#4430 GCodeViewer: Replace AVLTree with double binary search
  THIRDPARTYLICENSES.md
  src/octoprint/plugins/gcodeviewer/static/js/gcodeviewer.js
  src/octoprint/plugins/gcodeviewer/static/js/viewer/reader.js
  src/octoprint/plugins/gcodeviewer/static/js/viewer/ui.js
  src/octoprint/plugins/gcodeviewer/static/js/viewer/worker.js
  src/octoprint/plugins/gcodeviewer/templates/gcodeviewer_tab.jinja2
  src/octoprint/server/__init__.py
  src/octoprint/static/js/lib/avltree.js
Labels: needs some work, approved, targets maintenance

#4442 Fix property name
  docs/api/server.rst
Labels: docs, approved, targets master

#4443 Demo Github Token Settings
  src/octoprint/plugins/softwareupdate/static/js/softwareupdate.js
  src/octoprint/plugins/softwareupdate/templates/snippets/githubToken.jinja2
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
Labels: approved, targets maintenance
