Repository OctoPrint/OctoPrint, pull requests merged in 2022-08, with the labels that each got.

#4575 com2ann: Convert type comments into Python type hints - again
  docs/sphinxext/codeblockext.py
  docs/sphinxext/onlineinclude.py
  src/octoprint/filemanager/storage.py
  src/octoprint/util/__init__.py
Labels: docs, approved, targets maintenance

#4584 ✨ Automatically detect available files for `octoprint dev css:build`
  src/octoprint/cli/dev.py
Labels: approved, targets maintenance

#4581 Fix - Use G2/G3 arc length for estimating print time
  AUTHORS.md
  src/octoprint/util/gcodeInterpreter.py
Labels: approved, targets maintenance

#4573 PULL_REQUEST_TEMPLATE.md; Highlight branch names
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, meta, targets maintenance

#4574 Fix improper use of sys.version - again
  src/octoprint/plugins/softwareupdate/version_checks/git_commit.py
  src/octoprint/server/util/__init__.py
Labels: approved, targets maintenance

#4587 Fix/4582 - Fix gcodeviewer rendering G02 and G03 commands as lines
  src/octoprint/plugins/gcodeviewer/static/js/viewer/worker.js
Labels: approved, targets maintenance

#4540 Add a display indication when the Github access token is set
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/plugins/softwareupdate/static/js/softwareupdate.js
  src/octoprint/plugins/softwareupdate/templates/snippets/githubToken.jinja2
Labels: needs some work, approved, targets maintenance

#4599 Fix typos with codespell on maintenance branch
  src/octoprint/_version.py
  src/octoprint/plugins/softwareupdate/__init__.py
  src/octoprint/schema/config/devel.py
  src/octoprint/static/less/bootstrap/forms.less
  src/octoprint/static/less/bootstrap/navbar.less
  src/octoprint/static/less/bootstrap/thumbnails.less
  src/octoprint/util/pip.py
  versioneer.py
Labels: approved, targets maintenance

#4560 🐛 Make settings threadsafe
  src/octoprint/settings/__init__.py
Labels: approved, targets maintenance

#4605 Recognize sd card initialization on Repetier fw
  src/octoprint/templates/dialogs/settings/serialconnection.jinja2
  src/octoprint/util/comm.py
Labels: approved, targets maintenance

#4597 Add aria labels and roles for accessibility
  AUTHORS.md
  src/octoprint/plugins/action_command_notification/templates/action_command_notification_sidebar_header.jinja2
  src/octoprint/plugins/action_command_prompt/templates/action_command_prompt_navbar.jinja2
  src/octoprint/plugins/announcements/templates/announcements_navbar.jinja2
  src/octoprint/plugins/logging/templates/logging_navbar_plugintimingslog.jinja2
  src/octoprint/plugins/logging/templates/logging_navbar_seriallog.jinja2
  src/octoprint/plugins/logging/templates/logging_settings.jinja2
  src/octoprint/plugins/pluginmanager/templates/pluginmanager_settings.jinja2
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
  src/octoprint/templates/navbar/offlineindicator.jinja2
  src/octoprint/templates/navbar/settings.jinja2
  src/octoprint/templates/navbar/systemmenu.jinja2
  src/octoprint/templates/sidebar/connection_header.jinja2
  src/octoprint/templates/sidebar/files.jinja2
  src/octoprint/templates/sidebar/files_header.jinja2
  src/octoprint/templates/tabs/control.jinja2
  src/octoprint/templates/tabs/temperature.jinja2
Labels: approved, targets maintenance

#4591 Fire action hooks on ALL actions, not just unhandled ones
  AUTHORS.md
  src/octoprint/util/comm.py
Labels: approved, targets maintenance

#4606 Fix - Counterclockwise arc length calculation
  src/octoprint/util/gcodeInterpreter.py
Labels: approved, targets maintenance

#4588 Improve - Better error handling for uploading and removing files and folders
  src/octoprint/filemanager/storage.py
  src/octoprint/server/api/files.py
  src/octoprint/static/js/app/viewmodels/files.js
  src/octoprint/templates/dialogs/files.jinja2
  tests/filemanager/test_localstorage.py
Labels: approved, targets maintenance

#4607 Lowercase only filename.
  src/octoprint/plugins/virtual_printer/virtual.py
Labels: approved, targets maintenance

#4614 Add hint on how to rebuild CSS files.
  docs/development/environment.rst
Labels: docs, approved, targets maintenance

#4616 :bug: Fix spinner icon on file delete
  src/octoprint/static/js/app/viewmodels/files.js
Labels: approved, targets maintenance

#4618 Restore doesn't restore plugins versions.
  docs/bundledplugins/backup.rst
Labels: docs, approved, targets maintenance

#4610 M20 T support (timestamps for files on sd card)
  AUTHORS.md
  docs/development/virtual_printer.rst
  src/octoprint/plugins/virtual_printer/virtual.py
  src/octoprint/printer/standard.py
  src/octoprint/server/api/files.py
  src/octoprint/util/comm.py
  src/octoprint/util/files.py
  tests/util/test_comm.py
  tests/util/test_files.py
Labels: docs, approved, targets maintenance

#4613 Show multiple whitespace in filename.
  src/octoprint/static/less/octoprint.less
Labels: approved, targets maintenance
