Repository OctoPrint/OctoPrint, pull requests merged in 2022-04, with the labels that each got.

#4468 Tiny documentation typo, timeouts -> timeout
  src/octoprint/settings.py
Labels: approved, targets maintenance

#4470 Documentation: Replace Speeds 'mm/s' with 'mm/min'
  docs/features/custom_controls.rst
  src/octoprint/printer/profile.py
Labels: docs, approved, targets maintenance

#4492 ✏️ Fix minor spelling issue in software update area (insuffient -> insufficient)
  src/octoprint/plugins/softwareupdate/templates/softwareupdate_settings.jinja2
Labels: approved, targets maintenance

#4497 ✏️ Documentation spelling fixes
  docs/api/datamodel.rst
  docs/configuration/config_yaml.rst
  docs/development/virtual_printer.rst
  docs/features/accesscontrol.rst
  docs/plugins/hooks.rst
  docs/plugins/python3_migration.rst
Labels: docs, approved
