Repository OctoPrint/OctoPrint, pull requests merged in 2022-10, with the labels that each got.

#4631 Don't accept user names with extra spaces
  AUTHORS.md
  src/octoprint/access/users.py
  src/octoprint/cli/user.py
  src/octoprint/plugins/corewizard/static/js/corewizard.js
  src/octoprint/plugins/corewizard/templates/corewizard_acl_wizard.jinja2
  src/octoprint/server/api/access.py
  src/octoprint/static/js/app/viewmodels/access.js
  src/octoprint/templates/snippets/settings/accesscontrol/users.jinja2
Labels: needs some work, approved, targets maintenance

#4643 Improve/multi install
  AUTHORS.md
  src/octoprint/plugins/pluginmanager/__init__.py
  src/octoprint/plugins/pluginmanager/static/js/pluginmanager.js
  src/octoprint/plugins/pluginmanager/templates/pluginmanager_settings.jinja2
Labels: approved, targets maintenance

#4559 GCodeViewer: Async download
  src/octoprint/plugins/gcodeviewer/__init__.py
  src/octoprint/plugins/gcodeviewer/static/js/gcodeviewer.js
  src/octoprint/plugins/gcodeviewer/static/js/viewer/reader.js
  src/octoprint/plugins/gcodeviewer/static/js/viewer/ui.js
  src/octoprint/plugins/gcodeviewer/static/js/viewer/worker.js
  src/octoprint/plugins/gcodeviewer/templates/gcodeviewer_settings.jinja2
  src/octoprint/static/js/app/client/files.js
Labels: approved, targets maintenance

#4665 Explicitly use setup.cfg for flake8 configuration
  .pre-commit-config.yaml
Labels: approved, targets maintenance

#4567 Add M118 command to virtual printer
  src/octoprint/plugins/virtual_printer/virtual.py
Labels: needs some work, approved, targets maintenance

#4658 Add extensible chart markings support
  docs/events/index.rst
  src/octoprint/events.py
  src/octoprint/printer/standard.py
  src/octoprint/static/js/app/viewmodels/temperature.js
  src/octoprint/static/less/octoprint.less
Labels: docs, approved, targets maintenance

#4673 GCodeViewer: fix for runtime error for missing totalSize variable.
  src/octoprint/plugins/gcodeviewer/static/js/gcodeviewer.js
  src/octoprint/plugins/gcodeviewer/static/js/viewer/reader.js
Labels: approved, targets maintenance

#4568 add custom_name checks and populate for retro compatiblity
  src/octoprint/plugins/eventmanager/__init__.py
  src/octoprint/plugins/eventmanager/static/js/events.js
  src/octoprint/plugins/eventmanager/templates/eventmanager_settings.jinja2
  src/octoprint/schema/config/events.py
Labels: approved, targets maintenance
