Repository OctoPrint/OctoPrint, pull requests merged in 2023-06, with the labels that each got.

#4823 improve pause gcode
  docs/features/gcode_scripts.rst
Labels: docs, approved, targets maintenance

#4794 double slash basedir breaks timelapse delete
  src/octoprint/server/api/timelapse.py
Labels: approved, targets maintenance

#4815 Fix docs of set_temperature
  AUTHORS.md
  src/octoprint/printer/__init__.py
Labels: approved, targets maintenance

#4820 log extruder and file position on pause
  docs/events/index.rst
  src/octoprint/printer/standard.py
Labels: approved, targets devel

#4757 #4756: Multiple plugin variables
  AUTHORS.md
  src/octoprint/util/comm.py
Labels: docs, approved, ci/cd, tests, targets master

#4752 Send history message when WS subscription is changed
  src/octoprint/server/util/sockjs.py
Labels: approved, targets maintenance

#4834 GCodeViewer: fix onTabChange bug
  src/octoprint/plugins/gcodeviewer/static/js/gcodeviewer.js
Labels: approved, targets maintenance

#4824 :bug: Reduce intersection observer threshold
  src/octoprint/static/js/app/viewmodels/control.js
Labels: needs some work

#4830 Optimized Translation
  .tx/config
  src/octoprint/plugins/appkeys/templates/appkeys_settings.jinja2
  src/octoprint/plugins/gcodeviewer/__init__.py
  src/octoprint/plugins/logging/__init__.py
  src/octoprint/templates/sidebar/state.jinja2
  src/octoprint/templates/snippets/settings/server/serverAllowFraming.jinja2
Labels: needs some work, targets maintenance
