Repository OctoPrint/OctoPrint, pull requests merged in 2023-01, with the labels that each got.

#4708 ✨ Add `removeMessage` to OctoPrint socket
  docs/jsclientlib/socket.rst
  src/octoprint/static/js/app/client/socket.js
Labels: docs, approved, targets maintenance

#4689 remove Transfer-Encoding header so input is interpreted correctly by …
  AUTHORS.md
  src/octoprint/server/util/tornado.py
Labels: targets maintenance

#4628 Move webcam to plugin
  src/octoprint/__init__.py
  src/octoprint/cli/__init__.py
  src/octoprint/plugin/__init__.py
  src/octoprint/plugin/types.py
  src/octoprint/plugins/classicwebcam/__init__.py
  src/octoprint/plugins/classicwebcam/static/css/classicwebcam.css
  src/octoprint/plugins/classicwebcam/static/js/classicwebcam.js
  src/octoprint/plugins/classicwebcam/static/js/classicwebcam_settings.js
  src/octoprint/plugins/classicwebcam/static/js/classicwebcam_wizard.js
  src/octoprint/plugins/classicwebcam/static/less/classicwebcam.less
  src/octoprint/plugins/classicwebcam/templates/classicwebcam_settings.jinja2
  src/octoprint/plugins/classicwebcam/templates/classicwebcam_webcam.jinja2
  src/octoprint/plugins/classicwebcam/templates/classicwebcam_wizard.jinja2
  src/octoprint/plugins/classicwebcam/templates/snippets/classicwebcamCacheBuster.jinja2
  src/octoprint/plugins/classicwebcam/templates/snippets/classicwebcamOrientation.jinja2
  src/octoprint/plugins/classicwebcam/templates/snippets/classicwebcamSnapshotUrl.jinja2
  src/octoprint/plugins/classicwebcam/templates/snippets/classicwebcamStreamRatio.jinja2
  src/octoprint/plugins/classicwebcam/templates/snippets/classicwebcamStreamTimeout.jinja2
  src/octoprint/plugins/classicwebcam/templates/snippets/classicwebcamStreamUrl.jinja2
  src/octoprint/plugins/classicwebcam/templates/snippets/classicwebcamStreamWebrtcIceServers.jinja2
  src/octoprint/plugins/corewizard/static/js/corewizard.js
  src/octoprint/schema/config/webcam.py
  src/octoprint/schema/webcam/__init__.py
  src/octoprint/server/__init__.py
  src/octoprint/server/api/settings.py
  src/octoprint/server/views.py
  src/octoprint/settings/__init__.py
  src/octoprint/static/css/octoprint.css
  src/octoprint/static/js/app/viewmodels/control.js
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/static/js/app/viewmodels/timelapse.js
  src/octoprint/static/less/octoprint.less
  src/octoprint/templates/dialogs/settings/webcam.jinja2
  src/octoprint/templates/snippets/settings/webcam/defaultWebcam.jinja2
  src/octoprint/templates/snippets/settings/webcam/snapshotWebcam.jinja2
  src/octoprint/templates/snippets/settings/webcam/webcamOrientation.jinja2
  src/octoprint/templates/snippets/settings/webcam/webcamStreamUrl.jinja2
  src/octoprint/templates/tabs/control.jinja2
  src/octoprint/templates/tabs/timelapse.jinja2
  src/octoprint/timelapse.py
  src/octoprint/webcams.py
Labels: approved, targets maintenance, 👉 heads-up

#4710 Install multiple plugins from a json file (export or basic list)
  src/octoprint/plugins/pluginmanager/__init__.py
  src/octoprint/plugins/pluginmanager/static/css/pluginmanager.css
  src/octoprint/plugins/pluginmanager/static/js/pluginmanager.js
  src/octoprint/plugins/pluginmanager/static/less/pluginmanager.less
Labels: improvement, approved, targets maintenance

#4702 Use block scalars in YAML dumps
  AUTHORS.md
  src/octoprint/util/yaml.py
Labels: approved, targets maintenance

#4704 ⚡ Speed up file list by moving full_extension_tree call out of the hot path
  src/octoprint/filemanager/__init__.py
  src/octoprint/server/api/files.py
  tests/filemanager/test_filemanager.py
Labels: approved, tests, targets maintenance

#4717 Fix - First Run UI never loads due to missing jinja references
  src/octoprint/plugins/corewizard/subwizards.py
  src/octoprint/plugins/corewizard/templates/corewizard_webcam_wizard.jinja2
Labels: approved, targets maintenance
