Repository OctoPrint/OctoPrint, pull requests merged in 2023-03, with the labels that each got.

#4759 Use webcam container for intersection instead of controls
  src/octoprint/plugins/classicwebcam/static/js/classicwebcam.js
  src/octoprint/static/js/app/viewmodels/control.js
Labels: approved, targets maintenance

#4743 Migrate from netifaces to netifaces2
  THIRDPARTYLICENSES.md
  setup.py
Labels: approved, targets devel

#4775 GCodeViewer: Add X-Original-Content-Length header to avoid chunking problems
  src/octoprint/plugins/gcodeviewer/static/js/viewer/worker.js
  src/octoprint/server/util/tornado.py
Labels: approved, targets master
