Repository OctoPrint/OctoPrint, pull requests merged in 2023-02, with the labels that each got.

#4731 fixed small grammar error in README.md
  README.md
Labels: docs, approved, targets master

#4736 some minor updates to plugin getting started tutorial docs
  docs/plugins/gettingstarted.rst
Labels: docs, approved, targets master

#4722 Fix - File upload error messages broken due to missing attribute in StorageError
  src/octoprint/server/api/files.py
Labels: approved, targets maintenance

#4738 Expand documentation for ChartMarked event
  docs/events/index.rst
Labels: docs, approved, targets maintenance
