Repository OctoPrint/OctoPrint, pull requests merged in 2023-08, with the labels that each got.

#4868 ✂️ Remove repeating words
  CONTRIBUTING.md
  docs/api/timelapse.rst
  docs/bundledplugins/softwareupdate.rst
  docs/configuration/config_yaml.rst
  docs/plugins/gettingstarted.rst
  docs/plugins/hooks.rst
  src/octoprint/schema/config/access_control.py
  src/octoprint/schema/webcam/__init__.py
  src/octoprint/server/__init__.py
  src/octoprint/static/js/app/viewmodels/control.js
  src/octoprint/static/js/lib/bootstrap/bootstrap.js
  src/octoprint/static/js/lib/jquery/jquery.flot.js
  src/octoprint/static/js/lib/less.js
  src/octoprint/static/js/lib/lodash.js
  src/octoprint/translations/de/LC_MESSAGES/messages.po
  tests/static/js/lib/qunit-1.18.0.js
  translations/de/LC_MESSAGES/messages.po
  translations/messages.pot
Labels: docs, approved, meta, tests, targets maintenance

#4853 optional drag and drop
  src/octoprint/schema/config/feature.py
  src/octoprint/server/api/settings.py
  src/octoprint/static/js/app/viewmodels/files.js
  src/octoprint/static/js/app/viewmodels/settings.js
  src/octoprint/templates/dialogs/settings/features.jinja2
Labels: approved, targets maintenance

#4851 event manager plugin tweaks
  docs/events/index.rst
  src/octoprint/plugins/eventmanager/__init__.py
  src/octoprint/plugins/eventmanager/templates/eventmanager_settings.jinja2
Labels: docs, approved, targets maintenance

#4874 🚸 New thermal kill error message
  src/octoprint/util/comm.py
Labels: approved, targets maintenance

#4860 added line for e axis convertation - issue #4849
  src/octoprint/printer/profile.py
Labels: approved
