Repository OctoPrint/OctoPrint, pull requests merged in 2024-01, with the labels that each got.

#4918 Adding dashed lines for target temperatures to improve accessibility
  AUTHORS.md
  THIRDPARTYLICENSES.md
  src/octoprint/server/__init__.py
  src/octoprint/static/js/app/viewmodels/temperature.js
  src/octoprint/static/js/lib/jquery/jquery.flot.dashes.js
Labels: approved, targets maintenance

#4930 Fixing the bug on touchUI related tothe webcam size
  src/octoprint/static/less/octoprint.less
Labels: approved, targets devel

#4928 Further accessibility improvements: label regions, hide temperature graph, add necessary headings
  src/octoprint/templates/index.jinja2
  src/octoprint/templates/recovery.jinja2
  src/octoprint/templates/sidebar/files.jinja2
  src/octoprint/templates/tabs/control.jinja2
  src/octoprint/templates/tabs/temperature.jinja2
  src/octoprint/templates/tabs/terminal.jinja2
Labels: needs some work, targets master
