Repository OctoPrint/OctoPrint, pull requests merged in 2025-04, with the labels that each got.

#5137 Implement the M106, M107 and M123 gcodes in the virtual printer
  AUTHORS.md
  docs/development/virtual_printer.rst
  src/octoprint/plugins/virtual_printer/__init__.py
  src/octoprint/plugins/virtual_printer/virtual.py
Labels: needs some work, approved, targets maintenance

#5114 Improve/webcam deprecation message
  src/octoprint/__init__.py
Labels: docs, approved, ci/cd, tests, targets master

#5141 Fix: maintenance branch: M106 can kill the virtual printer #5140
  src/octoprint/plugins/virtual_printer/virtual.py
Labels: approved, targets maintenance

#5139 get_state_id is unimplemented
  src/octoprint/printer/__init__.py
Labels: approved, targets maintenance
